.grid-container {
  background-color:#F8F7F2;
  padding: 0;
  width: 1920px;
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Roboto', sans-serif ;
  box-sizing: border-box;
}

.navbar {
  background-color:#F8F7F2;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 100px;
}

.logo {
  justify-self: start;
  width: 177px;
  cursor: pointer;
  left:338px;
  height: 58px;
  margin-left: 337px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 10px;
  list-style: none;
  text-align: center;
  width: 457px;
  justify-content: center;
  left:654px;
  height: 24px;
}

.nav-links {
  color: #A5A5A5;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem ;
}

.nav-links:hover{
  background-color: #f2f8f4;
  color: #F0972A;
  border-radius: 4px;
}

.login-btn{
  font-family: 'Roboto', sans-serif ;
  width: 108px;
  height: 44px;
  left: 1248px;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid #A5A5A5;
  cursor: pointer;
  margin-right: 17px;
  left: 1248px;
  color: #A5A5A5;
  font-size: 16px;
}

.register-btn{
  font-family: 'Roboto', sans-serif ;
  color: #FFFFFF;
  background-color: #96BB36;
  width: 180px;
  height: 44px;
  left: 1405px;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid #097925;
  cursor: pointer;
  text-align: center;
  margin-right: 337px;
  font-size: 16px;
}


.login-btn:hover,
.register-btn:hover{
  transition: all 0.3s ease-out;
  box-shadow: 0px 3px 6px #00000029;
}

.dot {
  height: 9px;
  width: 9px;
  background-color: #F0972A;
  border-radius: 50%;
  display: inline-block;
  content: "";
  justify-content: center;
  text-align: center;
}

.white {
  height: 8px;
  width: 8px;
  background-color: #FFFFFF;
}

span {
  color: #F0972A;
}

.login-wrapper{
  display: grid;
  grid-template-columns: 108px 1118px ;
  justify-content: space-between;
  align-items: center;
  top: 193px;
}

.register-wrapper{
  display: grid;
  grid-template-columns: 260px 968px ;
  justify-content: space-between;
  align-items: center;
  top: 193px;
}

.start-main-page{
  font-family: 'Roboto Slab', serif;
  color: #96BB36;
  text-align: left;
  font-size: 36px;
  display: inline;
  width: 108px;
}

.register-header{
  font-family: 'Roboto Slab', serif;
  color: #96BB36;
  text-align: left;
  font-size: 36px;
  display: inline;
  width: 260px;
}

.hr-login{
  display: inline;
  border: 1px solid #D8D8D8;
  width: 1118px;
  height: 0px;
  margin-left:0;
  margin-top: 28px;
}

.hr-register{
  display: inline;
  border: 1px solid #D8D8D8;
  width: 968px;
  height: 0px;
  margin-left:0;
  margin-top: 28px;
}

.headerOne {
  font-family: 'Roboto Slab', serif;
  font-size: 46px;
  color: #626262;
  text-align: left;
  top: 334px;
  margin-bottom: 27px;
}

.orangeText{
  color: #F0972A
}

.some-text{
  text-align: left;
  font-family: 'Roboto Slab', serif;
  color: #A5A5A5;
  font-size: 20px;
  width: 688px;
  height: 156px;
}

.diff-width{
  width: 412px;
  height: 215px;
  text-align: left;
  font-family: 'Roboto Slab', serif;
  color: #A5A5A5;
  font-size: 20px;
  margin-bottom: 27px;
}

/* Form */
.form {
  display: grid;
  grid-template-columns: 294px 294px ;
  grid-gap: 33px;
}
label {
  text-align: left;
  font-family: 'Roboto Slab', serif;
  color: #F0972A;
  margin: 1rem 0;
  display: block;
  font-size: 16px;
}

input {
  background-color: #F0EFEA;
  width: 294px;
  height: 40px;
  border-radius: 5px;
  text-align: left;
  border: 1px solid #A5A5A5;
  font-size: 14px;
  color: #A5A5A5;
  font-family: 'Roboto', sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary{
  background-color: #96BB36;
  font-family: 'Roboto', sans-serif ;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  width: 123px;
  height: 40px;
  opacity: 1;
  transition: all 0.3s ease-out;
  box-shadow: 0px 3px 6px #96BB36;
  border: 1px solid #96BB36;
  cursor: pointer;
}

.register-btn1{
  font-family: 'Roboto', sans-serif ;
  color: #FFFFFF;
  background-color: #96BB36;
  width: 202px;
  height: 40px;
  left: 1405px;
  padding: 8px 20px;
  border-radius: 4px;
  border: 1px solid #097925;
  cursor: pointer;
  text-align: center;
  margin-right: 17px;
  font-size: 16px;
}

.row {  
  display: grid;
  grid-template-columns: 688px 294px ;
  gap: 144px;
  top:334px ;
}

.row-2 {  
  display: grid;
  grid-template-columns: 412px 625px ;
  gap: 102px;
  top:334px ;
}

.col-1{
  margin-bottom: 503px;
}
.col-2{
  margin-bottom: 503px;
  margin-top: 31px;
}

 .col-2-1{
  margin-bottom: 382px;
}
.col-2-2{
  margin-bottom: 382px;
  margin-top: 31px;
}

/* footer */
.footer {
  font-family: 'Roboto', sans-serif ;
  background-color: #626262;
  color: #FFFFFF;
  top: 900px;
  width: 1920px;
  height: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-white {
  justify-self: start;
  top: 970px;
  width: 113px;
  left:338px;
  height: 37px;
  margin-left: 337px;
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(7, auto);
  gap: 9px;
  list-style: none;
  text-align: center;
  width: 381px;
  justify-content: center;
  left:770px;
  top: 982px;
  height: 20px;
  font-size: 15px;
  text-transform: uppercase;
}

.footer-list {
  text-decoration: none;
  padding: 0.2rem 0.2rem ;
}

.copyright{
  width: 115px;
  height: 38px;
  top: 970px;
  margin-right: 332px;
  font-size: 14px;
  text-align: right;
}

/* Recipe card */
.card-container{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  left: 336px;
  width: 373px;
  height: 428px;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px #00000012;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  transition: 0.3s;
}

.card-container:hover{
  box-shadow: 0px 18px 20px #00000012;
}

.recipe-img-wrapper{
  position: relative;
  overflow: hidden;
  height: 234px;
}
.recipe-img {
  width: 371px;
  height: 234px;
  border-radius: 5px 5px 0px 0px;
  background-color: transparent;
}


.recipe-img:hover,
.arrows:hover {
  transition: all 0.3s ease-out;
}

.recipe-category {
  background-color: #96BB36;
  top: 8px;
  left: 23px;
  text-align: center;
  padding: 4px 11px;
  font-size: 14px;
  color:#FFFFFF ;
  border-radius: 15px;
  display: inline-block;
  position: absolute;
}

.recipe-title {
  margin-left: 25px;
  margin-top:10px;
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #F0972A;
  text-align: left;
}

.hidden-link{ 
  text-decoration: none;
} 

.card-text{
  font-family: 'Roboto', sans-serif ;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-top:10px;
  margin-left: 25px;
  width: 318px;
  height: 70px;
  color: #A5A5A5;
  text-align: left;
  overflow: hidden; 
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card-info{
  display: grid; 
  grid-template-columns: repeat(6, auto);
  grid-gap: 3px;
  font-family: 'Roboto', sans-serif ;
  color: #626262;
  font-size: 12px;
  font-weight: bold;
  list-style: none;
  vertical-align: bottom; 
}
.card-info-left{
  margin-left: 25px;
  margin-top: 10px;
  max-width: 255px; 
}
.card-info-left > i {
  margin-right:15px;
  display: inline-flex;
}
.card-info-right{
  display: inline-flex;
  margin-left: 70px;
  margin-top: -3px;
  background-color: #96BB36;
  padding: 9px 9px;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
}

.time,
.plate,
.star{
  margin-right: 5px;
}

/* home */
.home{
  display: grid;
  grid-template-columns: repeat(3, 373px);
  grid-gap: 64px;
  margin-left: 336px;
  /* margin-left: 337px; */
  margin-bottom: 130px;
}

/* dialog */
.recipe-dialog{
  position: fixed;
  max-width: 100%;
  width: 1027px;
  height: 599px;
  box-shadow: 0px 10px 20px #00000012;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  background-color: #FFFFFF;
  z-index: 999;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%) scale(0);
}

.recipe-dialog.active{
  transform: translate(-50%, -50%) scale(1);
}

.recipe-header{
  padding: 22px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-header .title {
  text-align: left;
  font-family: 'Roboto Slab', serif;
  color: #F0972A;
  font-size: 38px;
  font-weight: bold;
}

.recipe-header .close {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: none;
  width: 37px;
  height: 37px;
  /* transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0); */
  transition: all 0.3s ease-out;
}

.recipe-body{
  padding: 22px 32px;
  display: grid;
  grid-template-columns: 412px 504px ;
  grid-gap: 43px;
}

.recipe-image-small {
  width: 412px;
  height: 243px;
  border-radius: 5px;
  background-color: transparent;
}

.serving-info{
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.best-served{
  text-align: left;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  color: #96BB36;
}

.category {
  background-color: #96BB36;;
  text-align: center;
  padding: 4px 11px;
  font-size: 14px;
  color:#FFFFFF ;
  border-radius: 14px;

}

.recipe-discription{
  font-family: 'Roboto', sans-serif ;
  font-size: 16px;
  height: 126px;
  color: #A5A5A5;
  text-align: left; 
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.info-recipe{
  display: grid; 
  grid-template-columns: repeat(6, auto);
  grid-gap: 5px;
  font-family: 'Roboto', sans-serif ;
  color: #626262;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  height: 16px;
  vertical-align: middle;
  max-width: 205px;
}

.info-recipe > i {
  margin-right: 6px;
}
.icon{
  margin-right: 2px;
  vertical-align: sub;
}

.overlay {
  position: fixed;
  opacity: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #F8F7F2;
  /* -webkit-backdrop-filter: blur(24px); */
  filter: blur(24px);
  pointer-events: none;
}
.overlay.active {
  opacity: 1;
  pointer-events: all;
}

.recipe-recipe-disc{
  font-family: 'Roboto', sans-serif ;
  font-size: 16px;
  height: 436px;
  color: #A5A5A5;
  text-align: left;
  overflow-wrap: break-all; 
  white-space:pre-line;
  
}

/* profile */
.my-profile{
  margin-left: 336px;
  margin-right: 693px;
  top: 193px; 
}

.start-wrapper{
  display: grid;
  grid-template-columns: 182px 1060px ;
  justify-content: space-between;
  align-items: center;
}

.my-profile-text{
  font-family: 'Roboto Slab', serif;
  color: #96BB36;
  text-align: left;
  font-size: 36px;
  display: inline;
  width: 182px;
}

hr{
  display: inline;
  border: 1px solid #D8D8D8;
  width: 1060px;
  height: 0px;
  margin-left:0;
  margin-top: 28px;
}

.profile-container {
  display: grid;
  grid-template-columns: 174px 625px ;
  gap: 122px;
  margin-top: 90px;
}

.profile-image-wrapper{
  width: 103px;
  height: 103px;
  box-shadow: 0px 3px 6px #00000029;
  background-color: transparent;
}

.change-avatar-btn{
  margin-top: 35px;
  width: 174px;
  height: 32px;
  border: 1px solid #A5A5A5;
  text-align: center;
  color: #A5A5A5;
  font-size: 14px;
  font-family: 'Roboto', sans-serif ;
}

.save-btn{
  width: 124px;
  height: 40px;
  box-shadow: 0px 3px 6px #96BB36;
  background-color: #96BB36;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif ;
}

/* My recipes  */
.recipes-wrapper{
  display: grid;
  grid-template-columns: 204px 1008px 19px;
  justify-content: space-between;
  align-items: center;
}

.my-recipes-text{
  font-family: 'Roboto Slab', serif;
  color: #96BB36;
  text-align: left;
  font-size: 36px;
  display: inline;
  width: 204px;
}

.recipes-hr{
  display: inline;
  border: 1px solid #D8D8D8;
  width: 1000px;
  height: 0px;
  margin-left:0;
  margin-top: 28px;
}

.icon-plus-back{
  width: 18px;
  height: 19px;
  background-color: #F0972A;
  box-shadow: 0px 3px 6px #00000029;
  color: #FFFFFF;
  transition: all 0.3s ease-out;
  cursor: pointer;
  padding: 11px 11px;
  border-radius: 50%;
  display: inline;
}

/* table */
.recipes-table{
  width: 1245px;
  height: 465px;
  transition: all 0.3s ease-out;
  table-layout: fixed;
  border-collapse:collapse;
  margin-bottom: 105px;
}

thead{
  color: #F0972A;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  font-family:'Roboto', sans-serif ;
}

.tr-head{
  height: 61px;
}
.tr-body{
  height: 61px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border-bottom:5px solid #F8F7F2;
  color: #A5A5A5;
}

.title-cell{
  font-size: 16px;
  font-weight: bold;
  padding-left: 30px;
}
.category-cell{
  overflow: hidden;
}
.category-cell-text{
  width: 79px;
  padding: 8px;
  border-radius: 5px;
  background-color: #96BB36;
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
}

.delete-recipe{
  text-align: right;
  padding-right: 40px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.delete-recipe-header{
  text-align: right;
  padding-right: 25px;
}

/* Create recipe */
.form-recipe-container {
  display: grid;
  grid-template-columns: 234px 562px 377px;
  gap: 36px;
  margin-top: 90px;
  font-family:'Roboto', sans-serif ;
  font-weight: bold;
  margin-bottom: 174px;
}

.recipe-image-wrapper{
  width: 234px;
  height: 227px;
}
.recipe-image-text{
  color: #F0972A;
  text-align: left;
  font-size: 16px;
  font-family: 'Roboto Slab', serif; 
  margin-bottom: 10px;
}

.small-image{
  width: 234px;
  height: 147px;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #A5A5A5;
  border-radius: 5px;
}

.upload-btn{
  margin-top: 17px;
  width: 234px;
  height: 32px;
  border: 1px solid #A5A5A5;
  text-align: center;
  color: #A5A5A5;
  font-size: 14px;
  font-family: 'Roboto', sans-serif ;
}

#recipeTitle{
  width: 562px;
  height: 40px;
  background-color: #F0EFEA;
  border: 1px solid #A5A5A5;
  border-radius: 5px;
  color: #A5A5A5;
  text-align: left;
}

.number-fields{
  display: grid;
  grid-template-columns: 177px 165px 165px;
  gap: 27px;
  width: 562px;
}

#category{
  width: 177px;
  background-color: #F0EFEA;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #A5A5A5;
  color: #A5A5A5;
  font-weight: bold;
}

#prepTime {
  width: 165px;
  height: 40px;
  background-color: #F0EFEA;
  border-radius: 5px;
  border: 1px solid #A5A5A5;
  color: #A5A5A5;
  font-weight: bold;
}
#No.people{
  width: 165px;
  height: 40px;
  background-color: #F0EFEA;
  border-radius: 5px;
  border: 1px solid #A5A5A5;
  color: #A5A5A5;
  font-weight: bold;
}

#desc {
  width: 562px;
  height: 96px;
  background-color: #F0EFEA;
  border: 1px solid #A5A5A5;
  border-radius: 5px;
  color: #A5A5A5;
  text-align: left;
  margin-bottom: 23px;
  flex-wrap: wrap;
}

#recipe {
  width: 377px;
height: 284px;
border: 1px solid #A5A5A5;
border-radius: 5px;
background-color: #F0EFEA;
color: #A5A5A5;
font-size: 14px;
/* word-wrap: break-word; */
}

/* @media screen and (max-width: 960px) {
  .navbar {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top:80px ;
    opacity: 1;
    left: -100%;
    transition: all 0.3s ease-out;
  }
} */
  
